/* @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Audiowide");
html{
    scroll-behavior: smooth;
}

.title{
    font-size: 2rem;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
    /* font-family: "Playfair Display", serif; */
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
    color: honeydew;
}
.two ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.two ul a{
    text-decoration: none;
    color: honeydew;
    font-family: "Audiowide", sans-serif;
    transition: text-decoration 0.3s ease-in-out;
}
.two ul a:hover{
    text-decoration: overline rgb(101, 160, 101);
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding-left: 1.6rem;
}
.menu ul a{
    text-decoration: none;
    color: honeydew;
    font-family: "Audiowide", sans-serif;
    transition: text-decoration 0.37s ease-in-out;
}
.menu ul a::before{
    content: "★ ";
}
.menu ul a:hover{
    text-decoration: overline rgb(101, 160, 101); 
}
.right ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding-left: 130px;
    color: honeydew;
    font-family: "Audiowide", sans-serif;
}
.right ul a{
    text-decoration: none;
    color: honeydew;
    font-family: "Audiowide", sans-serif;
    transition: text-decoration 0.3s ease-in-out;
}
.right ul a:hover{
    text-decoration: overline rgb(101, 160, 101);
}
nav{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 150px;
    position: sticky;
}
.head{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 50px;
    padding-left: 20px;
    /* background-color: #000; */
    height: 100%;
    width: 100%;
    /* border: 3px solid red; */
    /* background: url("https://images.pexels.com/photos/26628057/pexels-photo-26628057.jpeg"); */
    background-color: rgb(3, 3, 61);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.head:hover{
    background: #000;
    box-shadow: 0 0 20px #000;
}
header{
    height: 0.8%;
    width: 100%;
    /* border: 3px solid black; */
    display: flex;
}
body{
    margin: 0;
    overflow-x: hidden;
    height: 1200vh;
    width: 100vw;
}
main{
    height: 50%;
    width: 100%;
    /* border: 2px solid yellow; */
}
.slideshow-container{
    height: 15%;
    width: 100%;
    /* border: 2px solid red; */
    background: url("https://images.pexels.com/photos/26628057/pexels-photo-26628057.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    margin-bottom: 1rem;
    overflow: hidden
}
/* @keyframes slide{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(120%);
    }
} */
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.move{
    height: 100%;
    width: 200%;  /* Double width to accommodate duplicated slides */
    display: flex;
    gap: 1rem;
    align-items: center;
    align-content: center;
    justify-content: flex-start; 
    animation: slide 12s linear infinite;
    /* backdrop-filter: blur(20px); */
}
.show1{
    height: 90%;
    width: 14%;
    /* border: 2px solid black; */
    flex-shrink: 0;
    background: url("https://i.pinimg.com/736x/23/e5/04/23e504c0340715dedd9ee503a55246f7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* transition: transform 1s ease-in-out;
    transition: background 1s ease-in-out; */
    border-radius: 10%;
    /* box-shadow: 0 0 20px rgb(248, 195, 203); */
}
/* .show1:hover{
    transform: rotateY(180deg);
    background: url(/Logo\ loxi.png);
} */
.show2{
    height: 90%;
    width: 14%;
    /* border: 2px solid black; */
    flex-shrink: 0;
    background: url("https://i.pinimg.com/736x/9f/77/7f/9f777f6c8c7f1517fe1b2ce5a6d403de.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}
.show3{
    height: 90%;
    width: 14%;
    /* border: 2px solid black; */
    flex-shrink: 0;
    background: url("https://i.pinimg.com/736x/20/02/c9/2002c9a39cc77c29eff465b51bc6cc06.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}
.show4{
    height: 90%;
    width: 14%;
    /* border: 2px solid black; */
    flex-shrink: 0;
    background: url("https://i.pinimg.com/1200x/af/86/f4/af86f41a2b67d51037c55c93a5229ebf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}
.show5{
    height: 90%;
    width: 14%;
    /* border: 2px solid black; */
    flex-shrink: 0;
    background: url("https://i.pinimg.com/1200x/29/0e/e2/290ee2d6514ca699d65c5247e50f70d5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}
.show6{
    height: 90%;
    width: 14%;
    /* border: 2px solid black; */
    flex-shrink: 0;
    background: url("https://i.pinimg.com/1200x/46/42/0e/46420ef1a985e9d8c32bfac97e7376a0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}

.category-tshirts{
    height: 40%;
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}
.display-tshirts{
    height: 30%;
    width: 100%;
    border: 2px solid red;
    background: url("https://images.unsplash.com/photo-1565006933419-0f2690a855be?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
}
.display-tshirts span{
    display: block;
    font-size: 5rem;
    border: 2px solid red;
    color: white;
    font-family: "Audiowide", sans-serif;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.showing-tshirts{
    margin-top: 0.5rem;
    height: 70%;
    width: 100%;
    border: 2px solid navy;
    display: flex;
    flex-direction: column;
}
.set1{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}
.tshirt1{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240); */
    /* backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.tshirt1 .pic1{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.tshirt1 .pic1 img{
    height: 100%;
    width: 100%;
}
.tshirt1 .text1{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.tshirt1 .text1 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.tshirt1 .text1 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.tshirt1 .text1 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.tshirt1 .text1 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.tshirt1 .text1 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.tshirt1 .text1 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.tshirt1 .text1 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.tshirt1 .text1 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.tshirt1 .text1 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.tshirt2{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.tshirt2 .pic2{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.tshirt2 .pic2 img{
    height: 100%;
    width: 100%;
}
.tshirt2 .text2{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.tshirt2 .text2 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.tshirt2 .text2 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.tshirt2 .text2 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.tshirt2 .text2 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.tshirt2 .text2 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.tshirt2 .text2 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.tshirt2 .text2 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.tshirt2 .text2 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.tshirt2 .text2 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.tshirt3{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.tshirt3 .pic3{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.tshirt3 .pic3 img{
    height: 100%;
    width: 100%;
}
.tshirt3 .text3{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.tshirt3 .text3 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.tshirt3 .text3 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.tshirt3 .text3 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.tshirt3 .text3 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.tshirt3 .text3 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.tshirt3 .text3 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.tshirt3 .text3 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.tshirt3 .text3 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.tshirt3 .text3 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.set2{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}

/*! Jeans */
.category-jeans{
    height: 40%;
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}
.display-jeans{
    height: 30%;
    width: 100%;
    border: 2px solid red;
    background: url("https://images.pexels.com/photos/5710654/pexels-photo-5710654.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.display-jeans span{
    display: block;
    font-size: 5rem;
    border: 2px solid red;
    color: white;
    font-family: "Audiowide", sans-serif;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.showing-jeans{
    margin-top: 0.5rem;
    height: 70%;
    width: 100%;
    border: 2px solid navy;
    display: flex;
    flex-direction: column;
}
.set1-jeans{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}
.jeans1{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.jeans1 .pic1{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.jeans1 .pic1 img{
    height: 100%;
    width: 100%;
}
.jeans1 .text1{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.jeans1 .text1 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.jeans1 .text1 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.jeans1 .text1 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.jeans1 .text1 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.jeans1 .text1 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.jeans1 .text1 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.jeans1 .text1 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.jeans1 .text1 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.jeans1 .text1 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.jeans2{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.jeans2 .pic2{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.jeans2 .pic2 img{
    height: 100%;
    width: 100%;
}
.jeans2 .text2{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.jeans2 .text2 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.jeans2 .text2 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.jeans2 .text2 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.jeans2 .text2 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.jeans2 .text2 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.jeans2 .text2 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.jeans2 .text2 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.jeans2 .text2 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.jeans2 .text2 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.jeans3{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.jeans3 .pic3{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.jeans3 .pic3 img{
    height: 100%;
    width: 100%;
}
.jeans3 .text3{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.jeans3 .text3 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.jeans3 .text3 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.jeans3 .text3 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.jeans3 .text3 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.jeans3 .text3 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.jeans3 .text3 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.jeans3 .text3 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.jeans3 .text3 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.jeans3 .text3 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.set2-jeans{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}
body{
    /* background: #bdc3c7;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2c3e50, #bdc3c7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: #0F2027;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*! one */
    /* background: #0f0c29;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-image: linear-gradient(115deg, #485563, #29323c, #cccccc 100%); */
    /* background-image: linear-gradient(135deg, #b0b0b0, #ffd700 50%, #ffffff 100%); */
    /* background-image: linear-gradient(135deg, #1C1C1C, #004C4C); */
    background-image: linear-gradient(to right, #dcdcdc, #f5f5f5);
}

/*! shoes */
.category-shoes{
    height: 40%;
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}
.display-shoes{
    height: 30%;
    width: 100%;
    border: 2px solid red;
    background: url("https://images.pexels.com/photos/9214286/pexels-photo-9214286.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.display-shoes span{
    display: block;
    font-size: 5rem;
    border: 2px solid red;
    color: white;
    font-family: "Audiowide", sans-serif;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.showing-shoes{
    margin-top: 0.5rem;
    height: 70%;
    width: 100%;
    border: 2px solid navy;
    display: flex;
    flex-direction: column;
}
.set1-shoes{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}
.shoes1{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.shoes1 .pic1{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.shoes1 .pic1 img{
    height: 100%;
    width: 100%;
}
.shoes1 .text1{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.shoes1 .text1 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.shoes1 .text1 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.shoes1 .text1 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.shoes1 .text1 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.shoes1 .text1 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.shoes1 .text1 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.shoes1 .text1 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.shoes1 .text1 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.shoes1 .text1 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.shoes2{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.shoes2 .pic2{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.shoes2 .pic2 img{
    height: 100%;
    width: 100%;
}
.shoes2 .text2{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.shoes2 .text2 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.shoes2 .text2 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.shoes2 .text2 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.shoes2 .text2 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.shoes2 .text2 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.shoes2 .text2 .low1 .product-detail span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.shoes2 .text2 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.shoes2 .text2 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.shoes2 .text2 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.shoes3{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.shoes3 .pic3{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.shoes3 .pic3 img{
    height: 100%;
    width: 100%;
}
.shoes3 .text3{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.shoes3 .text3 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.shoes3 .text3 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.shoes3 .text3 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.shoes3 .text3 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.shoes3 .text3 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.shoes3 .text3 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.shoes3 .text3 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.shoes3 .text3 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.shoes3 .text3 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.set2-shoes{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}

/*! Hoodies */
.category-hoodies{
    height: 40%;
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}
.display-hoodies{
    height: 30%;
    width: 100%;
    border: 2px solid red;
    background: url("https://i.pinimg.com/1200x/b4/1c/a7/b41ca76278396dd976494d057883bf29.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.display-hoodies span{
    display: block;
    font-size: 5rem;
    border: 2px solid red;
    color: white;
    font-family: "Audiowide", sans-serif;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.showing-hoodies{
    margin-top: 0.5rem;
    height: 70%;
    width: 100%;
    border: 2px solid navy;
    display: flex;
    flex-direction: column;
}
.set1-hoodies{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}
.hoodies1{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.hoodies1 .pic1{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.hoodies1 .pic1 img{
    height: 100%;
    width: 100%;
}
.hoodies1 .text1{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.hoodies1 .text1 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.hoodies1 .text1 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.hoodies1 .text1 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.hoodies1 .text1 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.hoodies1 .text1 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.hoodies1 .text1 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.hoodies1 .text1 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.hoodies1 .text1 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.hoodies1 .text1 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.hoodies2{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.hoodies2 .pic2{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.hoodies2 .pic2 img{
    height: 100%;
    width: 100%;
}
.hoodies2 .text2{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.hoodies2 .text2 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.hoodies2 .text2 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.hoodies2 .text2 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.hoodies2 .text2 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.hoodies2 .text2 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.hoodies2 .text2 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.hoodies2 .text2 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.hoodies2 .text2 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.hoodies2 .text2 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.hoodies3{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.hoodies3 .pic3{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.hoodies3 .pic3 img{
    height: 100%;
    width: 100%;
}
.hoodies3 .text3{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.hoodies3 .text3 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.hoodies3 .text3 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.hoodies3 .text3 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.hoodies3 .text3 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.hoodies3 .text3 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.hoodies3 .text3 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.hoodies3 .text3 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.hoodies3 .text3 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.hoodies3 .text3 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.set2-hoodies{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}

/*! Polos */
.category-polos{
    height: 40%;
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}
.display-polos{
    height: 30%;
    width: 100%;
    border: 2px solid red;
    background: url("https://i.pinimg.com/1200x/be/24/14/be24140b171219d53ade5deaefe1c3a8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.display-polos span{
    display: block;
    font-size: 5rem;
    border: 2px solid red;
    color: white;
    font-family: "Audiowide", sans-serif;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.showing-polos{
    margin-top: 0.5rem;
    height: 70%;
    width: 100%;
    border: 2px solid navy;
    display: flex;
    flex-direction: column;
}
.set1-polos{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}
.polos1{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.polos1 .pic1{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.polos1 .pic1 img{
    height: 100%;
    width: 100%;
}
.polos1 .text1{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.polos1 .text1 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.polos1 .text1 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.polos1 .text1 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.polos1 .text1 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.polos1 .text1 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.polos1 .text1 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.polos1 .text1 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.polos1 .text1 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.polos1 .text1 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.polos2{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.polos2 .pic2{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.polos2 .pic2 img{
    height: 100%;
    width: 100%;
}
.polos2 .text2{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.polos2 .text2 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.polos2 .text2 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.polos2 .text2 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.polos2 .text2 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.polos2 .text2 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.polos2 .text2 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.polos2 .text2 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.polos2 .text2 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.polos2 .text2 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.polos3{
    margin-top: 1rem;
    height: 90%;
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: #24243e; */
    /* background-color: rgb(249, 240, 240);
    backdrop-filter: blur(45px); */
    opacity: 0.9;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(143, 136, 136);
}
.polos3 .pic3{
    height: 80%;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.polos3 .pic3 img{
    height: 100%;
    width: 100%;
}
.polos3 .text3{
    height: 20%;
    width: 80%;
    /* border: 2px solid navy; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.polos3 .text3 .upper{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 0.5rem;
}
.polos3 .text3 .upper .product-name{
    font-family: "Audiowide", sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}
.polos3 .text3 .lower{
    height: 80%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.polos3 .text3 .lower .low1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.polos3 .text3 .low1 .product-price{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: 0;
}
.polos3 .text3 .low1 .product-detail span{
    font-family: "Audiowide", sans-serif;
    color: red;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: line-through;
}
.polos3 .text3 .low1 .product-detail{
    font-family: "Audiowide", sans-serif;
    color: navy;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
    margin-top: 0;
    
}
.polos3 .text3 .lower .low2{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}
.polos3 .text3 .low2 button{
    height: 2rem;
    width: 8rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(4, 34, 59);
    color: #f5f5f5;
    cursor: pointer;
}
.set2-polos{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 3rem;
    margin-left: 1rem;
}