@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
   background-image: url("/login_background_img.png");
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;
}
.main {  
  backdrop-filter: blur(6px);
  padding: 2.5rem;
  border-radius: 2rem;
  box-shadow: #000;
  width: 22rem;
  text-align: center;
  box-shadow: 0 0 5px black;
}
.loginbox h2 {
  margin-bottom: 1rem;
  font-family: "Abril Fatface", serif;
  color: #000;
}
.loginbox p {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Abril Fatface", serif;
  color: gray;
  margin-bottom: 20px;
}
form {
  padding: 0;
  margin: 0;
  border: none;
}
form input {
  width: 100%;
  padding: 0.6rem;
  margin: 1rem 0;
  display: block;
  border: 1px solid darkgray;
  border-radius: 6px;
  font-size: 0.8rem;
  box-sizing: border-box;
  font-family: "Abril Fatface", serif;
  background-color: rgb(216, 205, 191);
  font-weight: lighter;
}
input::placeholder{
  color: #6b6b6b;
}
form button {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 0.6rem;
  background-color: black;
  color: white;
  border-radius: 6px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  font-family: "Abril Fatface", serif;
}
.social {
  margin-top: 1.5rem;
}
.social p {
  font-size: 0.9rem;
  color: gray;
  font-family: "Abril Fatface", serif;
  margin-bottom: 10px;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 3rem;

  border-radius: 5rem;
}
.icons img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
