@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

.title{
    font-size: 2rem;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
    /* font-family: "Playfair Display", serif; */
    font-family: 'Spectral', serif;

    color: #000;
    text-shadow: 2px 2.5px 3px honeydew;
}
.two ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.two ul a{
    text-decoration: none;
    color: rgb(35, 14, 35);
    font-family: 'Spectral';
    transition: text-decoration 0.3s ease-in-out;
}
.two ul a:hover{
    text-decoration: overline rgb(101, 160, 101);
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding-left: 130px;
}
.menu ul a{
    text-decoration: none;
    color: rgb(35, 14, 35);
    font-family: 'Spectral';
    transition: text-decoration 0.37s ease-in-out;
}
.menu ul a::before{
    content: "★ ";
}
.menu ul a:hover{
    text-decoration: overline rgb(101, 160, 101); 
}
.right ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding-left: 130px;
    color: rgb(35, 14, 35);
    font-family: 'Spectral';
}
.right ul a{
    text-decoration: none;
    color: rgb(35, 14, 35);
    font-family: 'Spectral';
    transition: text-decoration 0.3s ease-in-out;
}
.right ul a:hover{
    text-decoration: overline rgb(101, 160, 101);
}
nav{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 150px;
    position: sticky;
}
.head{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 50px;
    padding-left: 20px;
    /* background-color: #000; */
    height: 9%;
    width: 100%;
    transition: background-color 0.5s ease-in;
    transition: box-shadow 0.5s ease-in-out;
    /* position: absolute; */
}
.head:hover{
    background-color: lightgray;
    box-shadow: 0 0 20px #000;
}
header{
    height: 25%;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1695686331766-16a2c3c2c382?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
}
.header-low{
    height: 12%;
    width: 100%;
    margin-top: auto;
    margin-bottom: 65px;
    margin-left: 20px;
    margin-right: 20px;
}
.text{
    width: 50%;
    height: 12%;
    /* margin-top: auto;
    margin-bottom: 65px;
    margin-left: 20px; */
}
.text p{
    font-family: 'Spectral';
    font-size: small;
    margin-bottom: 0;
}
.text span{
    display: block;
    font-size: 1.4rem;
    font-family: 'Spectral';
    text-shadow: 2px 1px 2px #000;
    margin-bottom: 15px;
}
.text button{
    background-color: navy;
}
.text button a{
    text-decoration: none;
    color: honeydew;
    font-family: 'Spectral';
    font-size: 1rem;
}
/* .color{
    height: 30%;
    width: 20%;
    display: flex;
    gap: 25px;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    padding-top: 20px;
}
.c1{
    border: 2px solid black;
    width: 9%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(86, 123, 75);
}
.c2{
    border: 2px solid black;
    width: 9%;
    height: 100%;
    border-radius: 50%;
    background-color: 
    rgb(70, 197, 240);
}
.c3{
    border: 2px solid black;
    width: 9%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(250, 94, 94);
} */
body{
    margin: 0;
    overflow-x: hidden;
    height: 400vh;
    width: 100vw;
}
main{
    height: 50%;
    margin-bottom: 540px;
}
.sections{
    height: 50%;
    width: 100%;
    margin-bottom: 12px;
}
.upper{
    display: flex;
    height: 50%;
    width: 100%;
}
.shoes{
    border: 3px solid ghostwhite;
    height: 100%;
    width: 50%;
    background: url("https://images.pexels.com/photos/6776077/pexels-photo-6776077.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background 0.5s ease-in-out;
    /* transition: transform 0.5s ease-in-out; */
}
.shoes:hover{
    background: url("https://images.pexels.com/photos/6776083/pexels-photo-6776083.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* transform:scaleY(1.07) ; */
}
.content{
    font-size: 2.5rem;
    display: block;
    font-family: 'Spectral';
    margin-top: 270px;
    padding-left: 15px;
}
.content a{
    text-decoration: none;
    /* color: lightgrey;
    text-shadow: 0 0 20px #000; */
    color: #000;
    text-shadow: 2px 3px 3px lightslategray;
}
.content::after{
    content: " ➔";
    font-size: 1.5rem;
    color: beige;
}
.watch{
    border: 3px solid ghostwhite;
    height: 100%;
    width: 50%;
    background: url("https://images.unsplash.com/photo-1667283831538-34bba5aeb094?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background 0.5s ease-in-out;
    /* transition: transform 0.5s ease-in-out; */
}
.watch:hover{
    background: url("https://images.unsplash.com/photo-1667283831564-d0d8e7aa3450?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* transform:scaleY(1.07) ; */
}
.lower{
    display: flex;
    height: 50%;
    width: 100%;
}
.shirt{
    border: 3px solid ghostwhite;
    height: 100%;
    width: 50%;
    background: url("https://images.unsplash.com/photo-1603252109360-909baaf261c7?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fHNoaXJ0fGVufDB8MHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background 0.5s ease-in-out;
    /* transition: transform 0.5s ease-in-out; */
}
/* .shirt img{
    height: 100%;
    width: 100%;
} */
.shirt:hover{
    background: url("https://images.unsplash.com/photo-1603251578711-3290ca1a0187?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* transform:scaleY(1.07); */
}
.pants{
    border: 3px solid ghostwhite;
    height: 100%;
    width: 50%;
    background: url("https://images.unsplash.com/photo-1715233749622-3216fe49e682?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background 0.5s ease-in-out;
    /* transition: transform 0.5s ease-in-out; */
}
.pants:hover{
    background: url("https://plus.unsplash.com/premium_photo-1723826753103-059ab0675e86?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* transform:scaleY(1.07) ; */
}
.displayVideo{
    height: 60%;
    width: 100%;
    /* box-shadow: 0 0 20px #000; */
    position: relative;
    margin-bottom: 12px;
}
.vid{
    height: 100%;
    width: 100%;
    object-fit: cover;  
}
.vid-text1{
    height: 20%;
    width: 20%;
    margin-left: 10px;
    /* border: 3px solid black; */
    position: absolute;
    top: 40%;
    bottom: 50%;
    font-size: 2rem;
    text-align: center;
    color: #000;
    font-family: 'Spectral';
    text-shadow: 2px 3px 3px lightslategray;
}
.vid-text2{
    height: 20%;
    width: 20%;
    /* border: 3px solid black; */
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 75%;
    font-size: 2rem;
    text-align: center;
    font-family: 'Spectral';
    color: #000;
    text-shadow: 2px 3px 3px lightslategray;
}
.para-section{
    height: 25%;
    width: 100%;
    /* border: 3px solid black; */
    /* background-color: rgb(159, 180, 201); */
    background-color: rgb(215, 209, 209);
    display: flex;
    flex-direction: column;
    gap: 0;
}
.para-section .up{
    height: 68%;
    width: 100%;
    /* border: 3px solid black; */
}
.para-section .main{
    /* margin-top: 0; */
    margin-bottom: 0;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-family: 'Spectral';
    text-shadow: 2px 3px 3px lightslategrey; 
}
.para-section .other{
    /* margin: 0; */
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Spectral';
}
.para-section .low{
    height: 32%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.para-section .email{
    position: absolute;
    left: 32%;
    height: 30px;
    width: 300px;
    font-family: 'Spectral';
    border: 0;
}
.para-section button{
    position: relative;
    left: 53%;
    height: 30px;
    font-family: 'Spectral';
    border: 0;
}
.para-section button a{
    text-decoration: none;
    
}
.para-section button:hover{
    background-color: lightgoldenrodyellow;
}
.para-section .select{
    position: absolute;
    left: 32%;
    margin-top: 20px;
    font-family: 'Spectral';
}
footer{
    height: 25%;
    width: 100%;
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    background-color: rgb(188, 207, 226);
}
.footer-up{
    height: 90%;
    width: 100%;
    display: flex;
}
.sec1{
    height: 100%;
    width: 33%;
    /* border: 3px solid black; */
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.sec1 .sec1-head{
    font-size: 2rem;
    font-family: 'Spectral';
    text-shadow: 2px 3px 3px gray;
}
.sec1 .sec1-p{
    font-family: 'Spectral';
}
.sec2{
    height: 100%;
    width: 33%;
    /* border: 3px solid black; */
    align-items: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.sec2 .sec2-head{
    padding-left: 20px;
    font-size: 2rem;
    font-family: 'Spectral';
    text-shadow: 2px 3px 3px gray;
}
.sec2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Spectral';
}
.sec3{
    height: 100%;
    width: 33%;
    /* border: 3px solid black; */
    align-items: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.sec3 .sec3-head{
    font-size: 2rem;
    font-family: 'Spectral';
    text-shadow: 2px 3px 3px gray;
}
.sec3 .sec3-p{
    font-family: 'Spectral';
}
.sec3 input{
    font-family: 'Spectral';
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
}
.sec3 button{
    font-family: 'Spectral';
    height: 40px;
    width: 140px;
}
.footer-down{
    height: 10%;
    width: 100%;
    display: flex;
}
.footer-down .s1{
    height: 100%;
    width: 20%;
    /* border: 3px solid black; */
    font-family: 'Spectral';
}
.footer-down .s1 p{
    text-align: center;
}
.footer-down .s2{
    height: 100%;
    width: 80%;
    /* border: 3px solid red; */
    align-items: center;
    align-content: center;
    padding-left: 100px;
}
.footer-down .s2 ul{
    list-style: none;
    display: flex;
    gap: 9px;
    margin-right: 50px;
    font-family: 'Spectral';
    font-size: 0.8rem;
}

@media screen and (max-width: 480px) {
    body{
        height: 500vh;
        width: 100vw;
        margin: 0;
        overflow-x: hidden;
        /* border: 4px solid black; */
    }
    header{
        height: 25%;
        width: 100%;
        /* border: 3px solid black; */
        display: flex;
        flex-direction: column;
    }
    .head{
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
        height: 20%;
        width: 100%;
        /* border: 3px solid orange; */
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
    }
    .two{
        margin-left: auto;
        margin-right: auto;
        /* border: 3px solid black; */
        /* height: 33.33%;
        width: 100%; */
    }
    .two ul{
        display: flex;
        gap: 25px;
        font-size: 0.8rem;
    }
    .menu{
        /* border: 3px solid navy; */
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        align-content: center;
    }
    .menu ul{
        display: flex;
        gap: 12px;
        padding-left: 0;
        font-size: 0.8rem;
    }
    .menu ul a::before{
        content: "";
    }
    .right{
        margin-left: auto;
        margin-right: auto;
        /* border: 3px solid red; */
    }
    .right ul{
        display: flex;
        gap: 12px;
        padding-left: 0;
        font-size: 0.8rem;
    }
    .header-low{
        /* border: 3px solid black; */
        height: 15%;
        width: 100%;
        margin-left: 0;
        /* padding-left: 1rem; */
    }
    .text{
        /* border: 4px solid white; */
        height: 100%;
        padding-left: 1rem;
    }
    .text p{
        font-size: small;
    }
    .text span{
        display: block;
        font-size: 1rem;
        margin-bottom: 0.8rem;
        text-shadow: 2px 2px 2px lightslategray;
    }
    .text button a{
        font-size: 0.8rem;
    }
    main{
        height: 55%;
        width: 100%;
        /* border: 3px solid black; */
        margin-bottom: 0;
    }
    .sections{
        height: 50%;
        width: 100%;
        /* border: 5px solid navy; */
        display: flex;
        flex-direction: column;
        margin-bottom: 0.3rem;
    }
    .upper{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* border: 5px solid black; */
    }
    .shoes{
        height: 50%;
        width: 100%;
    }
    .watch{
        height: 50%;
        width: 100%;
    }
    .lower{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .shirt{
        height: 50%;
        width: 100%;
    }
    .pants{
        height: 50%;
        width: 100%;
    }
    .content{
        display: block;
        margin-top: 0;
        padding-left: 0.5rem;
        font-size: 1.5rem;
    }
    .content a{
        color: honeydew;
        text-shadow: 2px 3px 3px #000;
    }
    .displayVideo{
        height: 32%;
        width: 100%;
        margin-bottom: 0.3rem;
    }
    .vid-text1{
        /* border: 2px solid black; */
        font-size: 0.8rem;
        color: #000;
        text-shadow: 2px 3px 3px lightslategray;
    }
    .vid-text2{
        /* border: 2px solid black; */
        font-size: 0.8rem;
        color: #000;
        text-shadow: 2px 3px 3px lightslategray;
    }
    .para-section{
        height: 18%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .para-section .up{
        /* border: 3px solid black; */
        height: 60%;
        width: 100%;
    }
    .para-section .main{
        font-size: 1.2rem;
    }
    .para-section .other{
        padding-top: 1.8rem;
        font-size: 1rem;
    }
    .para-section .low{
        /* border: 3px solid red; */
        height: 35%;
        width: 100%;
    }
    .para-section .email{
        position: relative;
        left: 5%;
        height: 1.5rem;
        width: 10rem;
        font-size: 0.5rem;
    }
    .para-section button{
        position: relative;
        left: 9%;
        height: 1.5rem;
        width: 8rem;
        font-size: 0.5rem;
    }
    .para-section .select{
        font-size: 0.6rem;
    }
    footer{
        margin-top: 1rem;
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer-up{
        height: 70%;
        width: 100%;
        /* border: 3px solid black; */
        display: flex;
    }
    .sec1{
        height: 100%;
        width: 33.33%;
        /* border: 3px solid red; */
    }
    .sec1 .sec1-head{
        font-size: 1rem;
    }
    .sec1 .sec1-p{
        font-size: 0.6rem;
    }
    .sec2{
        height: 100%;
        width: 33.33%;
        /* border: 3px solid white; */
    }
    .sec2 .sec2-head{
        font-size: 1rem;
        padding-left: 0;
    }
    .sec2 ul{
        font-size: 0.6rem;
        padding-left: 0;
        gap: 0.4rem;
    }
    .sec3{
        height: 100%;
        width: 33.33%;
        /* border: 3px solid yellow; */
        margin-right: 0;
    }
    .sec3 .sec3-head{
        font-size: 1rem;
    }
    .sec3 .sec3-p{
        font-size: 0.6rem;
    }
    .sec3 input{
        font-size: 0.6rem;
        width: 4rem;
        height: 1rem;
    }
    .sec3 button{
        height: 1.5rem;
        width: 3.5rem;
        font-size: 0.4rem;
    }
    .footer-down{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* border: 3px solid rebeccapurple; */
    }
    .footer-down .s1{
        height: 30%;
        width: 100%;
        /* border: 2px solid red; */
        font-size: 0.6rem;
    }
    .footer-down .s2{
        height: 70%;
        width: 100%;
        /* border: 2px solid lawngreen; */
        padding-left: 0;
        margin-left: 0;
        align-items: center;
        align-content: center;
    }
    .footer-down .s2 ul{
        display: flex;
        gap: 0.5rem;
        font-size: 0.45rem;
        margin-left: 0;
        padding-left: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    body{
        height: 400vh;
        width: 100vw;
        overflow-x: hidden;
        margin: 0;
    }
    header{
        height: 25%;
        width: 100%;
        border: 3px solid black;
        display: flex;
        flex-direction: column;
    }
    .head{
        height: 15%;
        width: 100%;
        border: 3px solid red;
        display: flex;
        gap: 0;
        padding-left: 0;
    }
    .title{
        padding-left: 0.5rem;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        margin-left: auto;
        margin-right: auto;
        /* border: 2px solid navy; */
    }
    .two{
        /* border: 2px solid red; */
        margin-left: auto;
        margin-right: auto;
    }
    .two ul{
        display: flex;
        gap: 0.5rem;
        font-size: 0.9rem;
    }
    .menu ul{
        display: flex;
        gap: 0.5rem;
        padding-left: 0;
        font-size: 0.9rem;
    }
    .menu ul a::before{
        content: "";
    }
    .right{
        /* border: 2px solid red; */
        margin-left: auto;
        margin-right: auto;
    }
    .right ul{
        display: flex;
        gap: 0.5rem;
        padding-left: 0;
        font-size: 0.9rem;
    }
    .header-low{
        border: 3px solid black;
        height: 15%;
        width: 100%;
        margin-left: 0;
    }
    .text{
        border: 2px solid red;
        height: 100%;
        padding-left: 0.5rem;
    }
    .text p{
        font-size: small;
    }
    .text span{
        display: block;
        font-size: 1.1rem;
        text-shadow: 2px 2px 2px lightslategray;
        margin-bottom: 0.3rem;
    }
    .text button a{
        font-size: 1rem;
    }
    main{
        height: 55%;
        width: 100%;
        /* border: 13px solid rebeccapurple; */
        margin-bottom: 1rem;
    }
    .sections{
        height: 53%;
        width: 100%;
        border: 2px solid yellow;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.3rem;
    }
    .upper{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .shoes{
        height: 50%;
        width: 100%;
    }
    .watch{
        height: 50%;
        width: 100%;
    }
    .lower{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .shirt{
        height: 50%;
        width: 100%;
    }
    .pants{
        height: 50%;
        width: 100%;
    }
    .content{
        display: block;
        margin-top: 0;
        position: relative;
        top: 40%;
        border: 2px solid white;
        font-size: 1.6rem;
    }
    .content a{
        color: honeydew;
        text-shadow: 2px 3px 3px #000;
    }
    .displayVideo{
        height: 32%;
        width: 100%;
        margin-bottom: 0.3rem;
    }
    .vid-text1{
        border: 2px solid red;
        font-size: 1rem;
        color: #000;
        text-shadow: 2px 3px 3px lightslategray;
    }
    .vid-text2{
        border: 2px solid red;
        font-size: 1rem;
        color: #000;
        text-shadow: 2px 3px 3px lightslategray;
    }
    .para-section{
        height: 15%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .para-section .up{
        border: 3px solid green;
        height: 60%;
        width: 100%;
    }
    .para-section .main{
        font-size: 1rem;
    }
    .para-section .other{
        font-size: 0.8rem;
    }
    .para-section .low{
        border: 2px solid orange;
        height: 40%;
        width: 100%;
    }
    .para-section .email{
        position: relative;
        left: 6%;
        height: 1rem;
        width: 13rem;
        font-size: 1rem;
    }
    .para-section button{
        position: relative;
        left: 9%;
        height: 1rem;
        width: 9rem;
        font-size: 0.6rem;
    }
    .para-section .select{
        font-size: 0.8rem;
    }
    footer{
        height: 20%;
        width: 100%;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
    }
    .footer-up{
        height: 80%;
        width: 100%;
        border: 3px solid red;
        display: flex;
    }
    .sec1{
        height: 100%;
        width: 33.33%;
        border: 2px solid black;
    }
    .sec1 .sec1-head{
        font-size: 1.1rem;
    }
    .sec1 .sec1-p{
        font-size: 0.7rem;
    }
    .sec2{
        height: 100%;
        width: 33.33%;
        border: 2px solid black;
    }
    .sec2 .sec2-head{
        font-size: 1.1rem;
        padding-left: 0;
    }
    .sec2 ul{
        font-size: 0.7rem;
        gap: 0.4rem;
        padding-left: 0;
    }
    .sec3{
        height: 100%;
        width: 33.33%;
        border: 2px solid black;
    }
    .sec3 .sec3-head{
        font-size: 1.1rem;
    }
    .sec3 .sec3-p{
        font-size: 0.7rem;
    }
    .sec3 input{
        font-size: 0.7rem;
        width: 6rem;
        height: 1rem;
    }
    .sec3 button{
        font-size: 0.5rem;
        width: 4rem;
        height: 1rem;
    }
    .footer-down{
        height: 20%;
        width: 100%;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
    }
    .footer-down .s1{
        height: 30%;
        width: 100%;
        border: 2px solid black;
        font-size: 0.9rem;
    }
    .footer-down .s1 p{
        margin-top: 0.3rem;
    }
    .footer-down .s2{
        height: 70%;
        width: 100%;
        border: 2px solid yellow;
        padding-left: 0;
        margin-left: 0;
    }
    .footer-down .s2 ul{
        display: flex;
        gap: 1rem;
        margin-left: 0;
        padding-left: 1rem;
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    body{
        height: 400vh;
        width: 100vw;
        overflow-x: hidden;
        margin: 0;
    }
    header{
        height: 25%;
        width: 100%;
        border: 3px solid black;
        display: flex;
        flex-direction: column;
    }
    .head{
        height: 15%;
        width: 100%;
        border: 3px solid red;
        display: flex;
        gap: 0;
        padding-left: 0;
    }
    nav{
        display: flex;
        gap: 0;
        margin-left: auto;
        margin-right: auto;
        /* position: relative;
        left: 5%; */
        border: 2px solid navy;
    }
    .two ul{
        display: flex;
        gap: 0.5rem;
        font-size: 1rem;
        font-size: 0.8rem;
    }
    .menu ul{
        display: flex;
        gap: 0.5rem;
        padding-left: 2.5rem;
        font-size: 1rem;
        font-size: 0.8rem;
    }
    /* .menu ul a::before{
        content: "";
    } */
    .right ul{
        display: flex;
        gap: 0.5rem;
        padding-left: 2.5rem;
        font-size: 0.8rem;
    }
    .header-low{
        border: 3px solid black;
        height: 15%;
        width: 100%;
        margin-left: 0;
    }
    .text{
        border: 2px solid red;
        height: 100%;
        padding-left: 1rem;
    }
    .text p{
        font-size: small;
    }
    .text span{
        display: block;
        font-size: 1.1rem;
        text-shadow: 2px 2px 2px lightslategray;
        margin-bottom: 0.3rem;
    }
    .text button a{
        font-size: 0.9rem;
    }
    main{
        height: 55%;
        width: 100%;
        border: 5px solid red;
        margin-bottom: 1rem;
    }
    .sections{
        height: 55%;
        width: 100%;
        border: 2px solid yellow;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.3rem;
    }
    .upper{
        height: 50%;
        width: 100%;
        display: flex;
    }
    .shoes{
        height: 100%;
        width: 50%;
    }
    .watch{
        height: 100%;
        width: 50%;
    }
    .lower{
        height: 50%;
        width: 100%;
        display: flex;
    }
    .shirt{
        height: 100%;
        width: 50%;
    }
    .pants{
        height: 100%;
        width: 50%;
    }
    .content{
        display: block;
        margin-top: 0;
        border: 2px solid white;
        position: relative;
        top: 86%;
        font-size: 2rem;
    }
    .content a{
        color: honeydew;
        text-shadow: 2px 3px 3px #000;
    }
    .displayVideo{
        height: 32%;
        width: 100%;
        margin-bottom: 0.3rem;
    }
    .vid-text1{
        border: 2px solid red;
        font-size: 1.5rem;
        color: #000;
        text-shadow: 2px 3px 3px lightslategray;
    }
    .vid-text2{
        border: 2px solid red;
        font-size: 1.5rem;
        color: #000;
        text-shadow: 2px 3px 3px lightslategray;
    }
    .para-section{
        height: 13%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .para-section .up{
        border: 3px solid green;
        height: 60%;
        width: 100%;
    }
    .para-section .main{
        font-size: 1.2rem;
    }
    .para-section .other{
        font-size: 0.8rem;
        /* padding-top: 1rem; */
    }
    .para-section .low{
        height: 40%;
        width: 100%;
        border: 3px solid navy;
    }
    .para-section .email{
        position: relative;
        left: 15%;
        height: 1rem;
        width: 12rem;
        font-size: 1rem;
    }
    .para-section button{
        position: relative;
        left: 19%;
        height: 1rem;
        width: 10rem;
        font-size: 0.7rem;
    }
    .para-section .select{
        margin-top: 0.3rem;
        font-size: 0.6rem;
    }
    footer{
        height: 20%;
        width: 100%;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
    }
    .footer-up{
        height: 80%;
        width: 100%;
        border: 2px solid black;
        display: flex;
    }
    .sec1{
        height: 100%;
        width: 33.33%;
        border: 2px solid black;
    }
    .sec1 .sec1-head{
        font-size: 1.2rem;
    }
    .sec1 .sec1-p{
        font-size: 0.8rem;
    }
    .sec2{
        height: 100%;
        width: 33.33%;
        border: 2px solid black;
    }
    .sec2 .sec2-head{
        font-size: 1.2rem;
        padding-left: 0;
    }
    .sec2 ul{
        font-size: 0.8rem;
        gap: 0.4rem;
        padding-left: 0;
    }
    .sec3{
        height: 100%;
        width: 33.33%;
        border: 2px solid black;
    }
    .sec3 .sec3-head{
        font-size: 1.2rem;
    }
    .sec3 .sec3-p{
        font-size: 0.8rem;
    }
    .sec3 input{
        font-size: 0.7rem;
        height: 2rem;
        width: 9rem;
    }
    .sec3 button{
        font-size: 0.6rem;
        width: 5rem;
        height: 2rem;
    }
    .footer-down{
        height: 20%;
        width: 100%;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
    }
    .footer-down .s1{
        height: 30%;
        width: 100%;
        border: 2px solid black;
        font-size: 1rem;
    }
    .footer-down .s1 p{
        margin-top: 0.3rem;
    }
    .footer-down .s2{
        height: 70%;
        width: 100%;
        border: 2px solid yellow;
        padding-left: 0;
        margin-left: 0;
    }
    .footer-down .s2 ul{
        display: flex;
        gap: 1rem;
        margin-left: 0;
        padding-left: 1rem;
        font-size: 0.7rem;
    }
}